<div class="container">
  <div class="row">
    <div class="meet_head_div">
      <h1 class="meet_head">Meet the CI Team</h1>
    </div>
  </div>
  <div class="row">
    <div class="main_bg_clr">
      <div class="team_head_div">
        <h3 class="team_head"><span>Team Description</span><span> / </span><span>Mission Statement</span></h3>
      </div>
      <div class="text_div">
        <p class="text_para">In literary theory, a text is any object that can be "read", whether this object is a work of literature, a street sign, an arrangement of buildings on a ...
          In literary theory, a text is any object that can be "read", whether this object is a work of literature, a street sign, an arrangement of buildings on a ...
        </p>
      </div>
      <div class="ci_head_div">
        <h3 class="ci_head"><span>+</span><span>CI Platform Support</span></h3>
        <p class="ci_para">CIPlatformSupport@astragenica.com</p>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="user_head_main_div">
          <div class="user_head_div">
            <h1 class="user_head">John Ryan</h1>
          </div>
          <div class="row pad">
            <div class="col-lg-4">
              <div class="user_logo_div">
                <img src="../assets/images/logo.png" alt="user" class="user_logo">
              </div>
            </div>
            <div class="col-lg-2 p0">
              <div class="icons">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <div class="icons">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </div>
            </div>            
            <div class="col-lg-6 p0">
              <div class="icons_text_div">
                <p class="icons_text">Head Digital Regulatory Strategy</p>                
              </div>
              <div class="icons_text_div">
                <p class="icons_text">Central Cambridge UK, United Kingdom</p>
              </div>
            </div>
          </div>          
          <div class="row">            
            <div class="col-lg-4">
              <div class="brdr_div">
                <p class="brdr"></p>
              </div>              
            </div>
            <div class="col-lg-4">
              <div>
                <p class="search_text">Search Matches</p>
              </div>              
            </div>            
            <div class="col-lg-4">
              <div class="brdr_div">
                <p class="brdr"></p>
              </div>              
            </div>
          </div>
          <div class="ci_btn_div">
            <button class="ci_btn">#CI Team HT</button>
          </div>
          <div class="foot_icons_div">
            <div class="foot_icons_sub">
              <i class="fa fa-comment foot_i" aria-hidden="true"></i>
            </div>
            <div class="foot_icons_sub">
              <i class="fa fa-envelope-o foot_i" aria-hidden="true"></i>
            </div>
            <div class="foot_icons_sub">
              <i class="fa fa-share-alt foot_i" aria-hidden="true"></i>
            </div>
          </div>
        </div>          
        </div>
        <div class="col-lg-3">
          <div class="user_head_main_div">
            <div class="user_head_div">
              <h1 class="user_head">John Ryan</h1>
            </div>
            <div class="row pad">
              <div class="col-lg-4">
                <div class="user_logo_div">
                  <img src="../assets/images/logo.png" alt="user" class="user_logo">
                </div>
              </div>
              <div class="col-lg-2 p0">
                <div class="icons">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="icons">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
              </div>            
              <div class="col-lg-6 p0">
                <div class="icons_text_div">
                  <p class="icons_text">Head Digital Regulatory Strategy</p>                
                </div>
                <div class="icons_text_div">
                  <p class="icons_text">Central Cambridge UK, United Kingdom</p>
                </div>
              </div>
            </div>          
            <div class="row">            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
              <div class="col-lg-4">
                <div>
                  <p class="search_text">Search Matches</p>
                </div>              
              </div>            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
            </div>
            <div class="ci_btn_div">
              <button class="ci_btn">#CI Team HT</button>
            </div>
            <div class="foot_icons_div">
              <div class="foot_icons_sub">
                <i class="fa fa-comment foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-envelope-o foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-share-alt foot_i" aria-hidden="true"></i>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-lg-3">
          <div class="user_head_main_div">
            <div class="user_head_div">
              <h1 class="user_head">John Ryan</h1>
            </div>
            <div class="row pad">
              <div class="col-lg-4">
                <div class="user_logo_div">
                  <img src="../assets/images/logo.png" alt="user" class="user_logo">
                </div>
              </div>
              <div class="col-lg-2 p0">
                <div class="icons">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="icons">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
              </div>            
              <div class="col-lg-6 p0">
                <div class="icons_text_div">
                  <p class="icons_text">Head Digital Regulatory Strategy</p>                
                </div>
                <div class="icons_text_div">
                  <p class="icons_text">Central Cambridge UK, United Kingdom</p>
                </div>
              </div>
            </div>          
            <div class="row">            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
              <div class="col-lg-4">
                <div>
                  <p class="search_text">Search Matches</p>
                </div>              
              </div>            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
            </div>
            <div class="ci_btn_div">
              <button class="ci_btn">#CI Team HT</button>
            </div>
            <div class="foot_icons_div">
              <div class="foot_icons_sub">
                <i class="fa fa-comment foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-envelope-o foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-share-alt foot_i" aria-hidden="true"></i>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-lg-3">
          <div class="user_head_main_div">
            <div class="user_head_div">
              <h1 class="user_head">John Ryan</h1>
            </div>
            <div class="row pad">
              <div class="col-lg-4">
                <div class="user_logo_div">
                  <img src="../assets/images/logo.png" alt="user" class="user_logo">
                </div>
              </div>
              <div class="col-lg-2 p0">
                <div class="icons">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="icons">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
              </div>            
              <div class="col-lg-6 p0">
                <div class="icons_text_div">
                  <p class="icons_text">Head Digital Regulatory Strategy</p>                
                </div>
                <div class="icons_text_div">
                  <p class="icons_text">Central Cambridge UK, United Kingdom</p>
                </div>
              </div>
            </div>          
            <div class="row">            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
              <div class="col-lg-4">
                <div>
                  <p class="search_text">Search Matches</p>
                </div>              
              </div>            
              <div class="col-lg-4">
                <div class="brdr_div">
                  <p class="brdr"></p>
                </div>              
              </div>
            </div>
            <div class="ci_btn_div">
              <button class="ci_btn">#CI Team HT</button>
            </div>
            <div class="foot_icons_div">
              <div class="foot_icons_sub">
                <i class="fa fa-comment foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-envelope-o foot_i" aria-hidden="true"></i>
              </div>
              <div class="foot_icons_sub">
                <i class="fa fa-share-alt foot_i" aria-hidden="true"></i>
              </div>
            </div>
          </div>          
        </div>
      </div>      
    </div>
  </div>  
</div>